<h2><%= @post.title %></h2>

<br>

<div class="comments">

  <% @comments.each do |comment| %>

    <div class="comment group">
      <blockquote>
        <%= comment.content %>
      </blockquote>
      <cite>
        <%=comment.user.first_name %>
        <time datetime="<%= comment.created_at %>"> 
        <%= comment.created_at.strftime('%d/%m/%y %H:%I') %>
        </time>
      </cite>

    </div>
    <br>
  <% end %>

</div>

<br>

<%= form_for([@post, @comment]) do |f| %>

  <div class="field">
    <%#= f.label :content %>
    <%= f.text_area :content, rows: 2, placeholder: "Add your comment here" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>
