<% @posts.each do |post| %>
<div class="post group">

  <div class="vote-wrap">
    <%= link_to like_post_path(post), method: :put do %>
        &#9650;
      <%= link_to post.get_upvotes.size , class: "votes" %>
    <% end %>
  </div>

  <div class="post-content">
      <%= link_to post.url , target: '_blank' do %>
        <h3 class="post-title"><%= post.title%></h3>
      <%end%>
      <p class="post-description"><%= post.description %></p>
  </div>

  <div >
  <nav class="categories">
      <ul>
        <% post.categories.each do |categories| %>
          <li><%= categories.category %> </li>
        <%end%>     
    </ul>
    </nav>
  </div>
  

  <div class="post-meta">
      <span class="post-comments"><%= post.comments.count %></span>
          <%= link_to post_comments_path(post) do %>
            <i class="fa fa-comment-o comment-icon"></i>
      <% end %>

      <div class="bio">
      <img src=" http://fillmurray.com/35/35" alt="post-creator" class="post-creator">
      <div class="box">
          <img src=" http://fillmurray.com/100/100" alt="post-creator" class="post-creator-bio">
          <h2><%= post.user.first_name %></h2>
          <h4><%= post.user.job_title%></h4>
          <div class="follow"><a href="#" class="follow-creator">Follow</a></div>
      </div>
    </div>

  </div>
</div>


<% end %>