<!DOCTYPE html>
<html>
<head>
  <title>Product Hunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,100,900,700italic,400italic,300italic,300,500' rel='stylesheet' type='text/css'>


  <!--<script src="http://use.typekit.net/koq1kyb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>-->
</head>
<body>

<header class="main-header">

    <div class="top-header">

      <div class="content-wrap group">
        
        <%= link_to root_path , class: 'logo' do%>
          <h1>Product Hunt</h1>
        <% end %>

        <%= link_to '+', new_post_path , class: 'add-new-post' %>

        <% if user_signed_in? %>

            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'login') %>        

          <% else %>

            <%= link_to('Login', new_user_session_path, class: 'login')  %>  
          <% end %>

        
        <input type="search" class="search" placeholder="Search for a product...">
        
      </div>
    </div>

   
    <nav class="main-nav">
    <div class="content-wrap">
        <ul class="main-nav-links group">
            <% Category.all.each do |x| %>
            <li><%= x.category %> </li>
          <%end%>    
        </ul>
      
    </div>
    </nav>

    

  </header>

  <main class="main-content">

    <div class="content-wrap">

      <section class="day">

        <header class="day-header">
          <h2>Today <span class="subtext"><%= Time.now.strftime("%b%d") %></span></h2>
        </header>



      <%= yield %>


     </section>

    </div>

  </main>




</body>
</html>



  